{% extends 'base-crud.html' %}
{% block title %} Novo Paciente{% endblock %}
{% load static%}
{% block content %}
<h1 class="mt-5">
    Cadastrar novo paciente
</h1>
<hr>
{% if error %} <p> {{error}} </p> {% endif %}
<form action="{% url 'novo-paciente' %}" method="POST">
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <div class="d-flex justify-content-start mt-5 mb-5">
         <button type="submit" class="btn btn-success">
                Cadastrar novo paciente
         </button>
     </div>
</form>

<script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}