{% extends 'base-crud.html' %}
{% block title %} Novo Paciente{% endblock %}
{% load static%}
{% block content %}
<h1 class="mt-5">
    Cadastrar novo paciente
</h1>
<hr>
{% if error %} <p> {{error}} </p> {% endif %}
<form action="{% url 'novo-paciente' %}" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class=" col-12 col-md-8 col-lg-6 mb-3">
            <label for="nome" class="form-label">
                Nome do paciente:
            </label>
            <input type="text" class="form-control" name="nome" required>
        </div>
    </div>
    <div class="row">
        <div class=" col-12 col-md-8 col-lg-6 mb-3">
            <label for="cpf" class="form-label">
                CPF do paciente:
            </label>
            <input type="text" class="form-control" id="cpf" name="cpf" maxlength="14" required>
        </div>
    </div>
    <div class="row">
        <div class=" col-12 col-md-8 col-lg-6 mb-3">
            <label for="email" class="form-label">
                Email do paciente:
            </label>
            <input type="text" class="form-control" name="email" required>
        </div>
    </div>
    <div class="row">
        <div class=" col-12 col-md-8 col-lg-6 mb-3">
            <label for="telefone" class="form-label">
                Telefone do paciente:
            </label>
            <input type="text" class="form-control" id="telefone" name="telefone" required>
        </div>
    </div>
    <div class="row">
        <div class=" col-12 col-md-8 col-lg-6 mb-3">
            <label for="data_nascimento" class="form-label">
                Data de nascimento do paciente:
            </label>
            <input type="date" class="form-control" name="data_nascimento" required>
        </div>
    </div>
    <div class="row">
        <div class=" col-12 col-md-8 col-lg-6 mb-3">
            <label for="data_nascimento" class="form-label">
                Sintomas:
            </label>
            <textarea rows="3" class="form-control" id="sintomas" name="sintomas"> </textarea>
        </div>
    </div>
    <div class="row">
        <div class="mt-4">
            <button type="submit" class="btn btn-success">
                Cadastrar novo paciente
            </button>
        </div>
    </div>
</form>

<script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}